# About

In [2]:
import os
os.chdir("/home/jovyan/work")

import pandas as pd
from sqlalchemy import text

from src.utils import get_connection

In [16]:
pd.read_sql(
    sql=text("""
    SELECT wins.season, wins.team_id, wins.wins, losses.losses
    FROM t_derived_wins_per_team_per_season wins
    JOIN t_derived_losses_per_team_per_season losses
    ON wins.season = losses.season
    AND wins.team_id = losses.team_id
    """),
    con=get_connection()
)

       season  team_id  wins  losses
0        1985     1102     5      19
1        1985     1103     9      14
2        1985     1104    21       9
3        1985     1106    10      14
4        1985     1108    19       6
5        1985     1109     1      23
6        1985     1110     7      18
7        1985     1111    10      14
8        1985     1112    18       9
9        1985     1113    11      16
10       1985     1114    17      13
11       1985     1116    21      12
12       1985     1117    11      14
13       1985     1119    15      13
14       1985     1120    18      11
15       1985     1121     7      19
16       1985     1122     6      17
17       1985     1123    13      16
18       1985     1124     7      17
19       1985     1126     6      19
20       1985     1129    12      13
21       1985     1130    16      10
22       1985     1131    14      14
23       1985     1132    11      15
24       1985     1133    16      12
25       1985     1134    11      13
26       1985     1135     8      18
27       1985     1137    15      10
28       1985     1139    16       8
29       1985     1140    15      14
...       ...      ...   ...     ...
10490    2017     1433    26       8
10491    2017     1434    23       8
10492    2017     1435    19      15
10493    2017     1436    28       5
10494    2017     1437    31       3
10495    2017     1438    22      10
10496    2017     1439    22      10
10497    2017     1440     4      24
10498    2017     1441     7      23
10499    2017     1442     6      20
10500    2017     1443    15      17
10501    2017     1444    15      16
10502    2017     1447    15      14
10503    2017     1448    19      13
10504    2017     1449     9      22
10505    2017     1450    12      18
10506    2017     1451    17      13
10507    2017     1452    26       8
10508    2017     1453    16      13
10509    2017     1454    10      24
10510    2017     1455    29       4
10511    2017     1456    15      14
10512    2017     1457    24       6
10513    2017     1458    25       9
10514    2017     1459    13      17
10515    2017     1460    18      12
10516    2017     1461    16      14
10517    2017     1462    21      13
10518    2017     1463    17      11
10519    2017     1464    11      21

[10520 rows x 4 columns]